<div class=".wrap" style="float: left;">
    <h3>Header bar settings</h3>
    {{#section}}
    <h4>{{name}}</h4>
    <p>{{description}}</p>
    <form action="" method="post">
        <table class="form-table">
            <tbody>
                {{#settings}}
                <tr valign="top">
                    <th scope="row">{{label}}</th>
                    <td>
                        <input id="{{id}}" name="{{id}}" type="checkbox" value="1"
                            {{#enabled}}
                            checked="checked"
                            {{/enabled}}
                            style="margin-left: 10px;" />
                        <label for="{{id}}" name="{{id}}" style="width: 75px; display: inline-block;">enabled</label>
                        {{#value}}
                        <input name="tf-{{id}}" type="text" size="60" value="{{value}}" class="regular-text" />
                        {{/value}}

                    </td>
                </tr>
                {{/settings}}
            </tbody>
        </table>
        <p class="submit">
            <input type="submit" name="{{submit}}" class="button button-primary" value="Update options &raquo;" />
            <input type="submit" name="{{reset}}"  class="button button-primary" value="Reset options &raquo;" />
        </p>
    </form>
    {{/section}}
</div>
