<div style="float: left; width: 600px; ">
    <h2>Social Settings</h2>
    <form action="" method="post" id="odyssey_form_social">
        <hr size="1" />
        <span style="font-weight: bold;" >&bull; Enter the social links:</span><br />
        <ul>
            {{#settings}}
            <li>
                <input id="{{id}}" name="{{id}}" type="checkbox" value="1"
                    {{#enabled}}
                    checked="checked"
                    {{/enabled}}
                    style="margin-left: 10px;" />
                <label for="{{id}}" name="{{id}}" style="width: 75px; display: inline-block;">{{label}}</label>
                <input name="tf-{{id}}" type="text" size="60" value="{{value}}" />
            </li>
            {{/settings}}
        </ul>
        <hr size="1" />
        <p class="submit"><input type="submit" name="{{submitName}}" value="Update options &raquo;" /></p>
    </form>
</div>