    <header>
        <h1 id="logo">
            <a href="{{url}}" title="{{description}}">
                {{{name}}}
            </a>
        </h1>
        {{#pages}}
        <div class="menu txt">
            <ul>
<!--                 <li><a class="item" href="{{homeUri}}" title="Back to the latest picture"> {{{name}}} </a></li> -->
                <li><a class="item" href="{{url}}" title="{{title}}"> {{name}} </a></li>
            </ul>
        </div>
        {{/pages}}
        <div class="menu but social">
            <a class="menu_but_rss" href="./index.php?x=rss"                                                        title="RSS Feed"></a>
            <a class="menu_but_tw"  href="http://twitter.com/home?status=<SITE_URL>/index.php?showimage=<IMAGE_ID>" title="Click to share this post on Twitter" target="_blank"></a>
            <a class="menu_but_fb"  href="http://www.facebook.com/pages/An-Everyday-Lifes-Odyssey/113318748702527"  title="Facebook" target="_blank"></a>
            <a class="menu_but_fr"  href="http://www.flickr.com/photos/rataki/"                                     title="Flickr"   target="_blank"></a>
        </div>
        <div class="menu but color">
            <a class="white"      href="#"></a>
            <a class="dark_grey"  href="#"></a>
            <a class="black"      href="#"></a>
        </div>
        <nav class="menu but">
            {{#next}}
            <a href="{{url}}" class="prev" title="{{#_i18n}}Previous:{{/_i18n}} {{title}}"><span class="navArrow"></span></a>
            {{/next}}
            {{#previous}}
            <a href="{{url}}" class="next" title="{{#_i18n}}Next:{{/_i18n}} {{title}}"><span class="navArrow"></span></a>
            {{/previous}}
        </nav>
        <div class="menu but tooltip">
            <a href="#">
                ?
            </a>
            <div class="help">
                <ul>
                    <li>{{#_i18n}}Keyboard navigation:{{/_i18n}}
                        <ul>
                            <li>{{#_i18n}}press '&larr;' or '&rarr;' to jump to previous or next picture{{/_i18n}}</li>
                            <li>{{#_i18n}}press 'space' to toggle panel{{/_i18n}}</li>
                        </ul>
                    </li>
                    <li>{{#_i18n}}Use the square buttons to change background color{{/_i18n}}</li>
                </ul>
            </div>
        </div>
    </header>