            <section id="content" class="{{class}}">
                <article class="image_notes">{{{content}}}</article>
                {{#image.exifs.0}}
                <article class="image_exifs">
                    <ul>  
                        {{#image.exifs}}
                        <li>{{name}}{{value}}</li>
                        {{/image.exifs}}
                    </ul>
                </article>
                {{/image.exifs.0}}
                {{{ratings}}}
            </section>
