            <section id="content" class="{{class}}">
                {{#image}}
                <article class="post_content">{{{content}}}</article>
                {{/image}}
                {{#categories.0}}
                <article class="post_categories">
                    <ul>
                        {{#categories}}
                        <li><a href="{{url}}">&#91;{{name}}&#93;</a></li>
                        {{/categories}}
                    </ul>
                </article>
                {{/categories.0}}

                {{#image}}
                <article class="image_exifs">
                    {{{exifs_rendered}}}
                </article>
                {{/image}}

                {{#ratings}}
                <article class="post_rating">
                    {{{ratings}}}
                </article>
                {{/ratings}}
            </section>
