{{! This is for post with image as post format}}
{{#image}}
    <section id="post_main" class="{{class}}"
            {{#frame}}
            style="width: {{width}}px; height: {{height}}px;"
            {{/frame}}
        >
        <div id="photo"
            >
            <img src="{{image.url}}" alt="{{title}}"/>
            <nav>
                {{#previous_ID}}
                <a href="{{previous_url}}" class="navLink prev"><span class="navArrow" title="Previous: {{previous_title}}"></span></a>
                {{/previous_ID}}
                {{#next_ID}}
                <a href="{{next_url}}" class="navLink next"><span class="navArrow" title="Next: {{next_title}}"></span></a>
                {{/next_ID}}
            </nav>
        </div>
        <div id="photo_infos">
            <h2>{{title}}</h2>
            {{#image.capture_date}}
            <p>{{image.capture_date}}</p>
            {{/image.capture_date}}
        </div>
    </section>
{{/image}}

{{! This is for any post that's not an image }}
{{^image}}
    <section id="post_main" class="{{class}}">
        <article>
            <h2>{{title}}</h2>
            {{{content}}}
        </article>
    </section>
{{/image}}



