    <header id="headerbar" class="headerbar">
        <h1 id="logo">
            <a href="{{url}}" title="{{description}}">
                {{{name}}}
            </a>
        </h1>
        {{#others.0}}
        <div class="menu txt">
            <ul>
                {{#others}}
                <li>
                    <a href="{{url}}"
                        {{#title}}
                        title="{{title}}"
                        {{/title}}
                        {{#linkid}}
                        id="{{linkid}}"
                        {{/linkid}}
                        >
                        {{name}}
                    </a>
                </li>
                {{/others}}
            </ul>
        </div>
        {{/others.0}}

        {{#syndication.0}}
        <div class="menu but syndication">
            {{#syndication}}
            <a class="{{class}}" href="{{url}}" title="{{title}}" target="_blank"></a>
            {{/syndication}}
        </div>
        {{/syndication.0}}
        
        <div class="menu but color">
            <a class="white"     href="#"></a>
            <a class="dark_grey" href="#"></a>
            <a class="black"     href="#"></a>
        </div>
        <nav class="menu but">
            {{#previous}}
            <a href="{{url}}" class="prev" title="{{#_i18n}}Previous:{{/_i18n}} {{title}}"><span class="navArrow"></span></a>
            {{/previous}}
            {{#next}}
            <a href="{{url}}" class="next" title="{{#_i18n}}Next:{{/_i18n}} {{title}}"><span class="navArrow"></span></a>
            {{/next}}
        </nav>
        <div class="menu but tooltip">
            <a href="#">
                ?
            </a>
            <div class="help">
                <ul>
                    <li>{{#_i18n}}Keyboard navigation:{{/_i18n}}
                        <ul>
                            <li>{{#_i18n}}press '&larr;' or '&rarr;' to jump to previous or next picture{{/_i18n}}</li>
                            <li>{{#_i18n}}press 'space' to toggle panel{{/_i18n}}</li>
                        </ul>
                    </li>
                    <li>{{#_i18n}}Use the square buttons to change background color{{/_i18n}}</li>
                </ul>
            </div>
        </div>
        <div class="menu loading"></div>
    </header>