    <header>
        <h1 id="logo">
            <a href="{{blogHomeUri}}" title="Home">
                {{{blogName}}}
            </a>
        </h1>
    <!--    <div class="menu txt">
            <ul>
                <li><a class="item" href="index.php"                         title="Back to the latest picture"> Latest </a></li>
                <li><a class="item" href="index.php?x=browse&amp;filter=all" title="Browse pictures">            Browse </a></li>
                <li><a class="item" href="index.php?x=about"                 title="Details about the author">   About  </a></li>
            </ul>
        </div>
        <div class="menu but social">
            <a class="menu_but_rss" href="./index.php?x=rss"                                                        title="RSS Feed"></a>
            <a class="menu_but_tw"  href="http://twitter.com/home?status=<SITE_URL>/index.php?showimage=<IMAGE_ID>" title="Click to share this post on Twitter" target="_blank"></a>
            <a class="menu_but_fb"  href="http://www.facebook.com/pages/An-Everyday-Lifes-Odyssey/113318748702527"  title="Facebook" target="_blank"></a>
            <a class="menu_but_fr"  href="http://www.flickr.com/photos/rataki/"                                     title="Flickr"   target="_blank"></a>
        </div>-->
        <div class="menu but color">
            <a class="white"      href="#"></a>
            <a class="dark_grey"  href="#"></a>
            <a class="black"      href="#"></a>
        </div>
        <nav class="menu but">
            {{#next}}
            <a href="{{postUri}}" class="prev"><span class="navArrow" title="Previous: {{postTitle}}"></span></a>
            {{/next}}
            {{#previous}}
            <a href="{{postUri}}" class="next"><span class="navArrow" title="Next: {{postTitle}}">    </span></a>
            {{/previous}}
        </nav>
        <div class="menu but tooltip">
            <a href="#">
                ?
            </a>
            <div class="help">
                <ul>
                    <li>Keyboard navigation:
                        <ul>
                            <li>press '&larr;' or '&rarr;' to jump to previous or next picture</li>
                            <li>press 'space' to toggle panel</li>
                        </ul>
                    </li>
                    <li>Use the square buttons to change background color</li>
                </ul>
            </div>
        </div>
    </header>