            <section id="content" class="{{class}}">
                {{#is_post_format_image}}
                <article class="post_content">{{{content}}}</article>
                {{/is_post_format_image}}
                {{#categories.0}}
                <article class="post_categories">
                    <ul>
                        {{#categories}}
                        <li><a href="{{url}}">&#91;{{name}}&#93;</a></li>
                        {{/categories}}
                    </ul>
                </article>
                {{/categories.0}}
                {{#image.exifs.0}}
                <article class="image_exifs">
                    <ul>
                        {{#image.exifs}}
                        <li>{{name}}{{value}}</li>
                        {{/image.exifs}}
                    </ul>
                </article>
                {{/image.exifs.0}}
                {{{ratings}}}
            </section>
